<partial_parent>
Partial Parent

Here is the partial content:
<inserted_content>
<?php echo $this->partial('tests/Groundhog/TemplateRenderer/Tests/test_docs/_partial_body.template'); ?>
</inserted_content>

</partial_parent>
